@import "variables";
@import 'media_mixin';

.game-over {
   display: none;
   position: fixed;
   background-color: #000000fa;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   justify-content: center;
   align-items: center;
   color: $whiteColor;
   font-size: 5rem;
   flex-direction: column;
   text-align: center;
   &__title {
      color: $neonColor2;
      font-size: 120px;
      line-height: 9vw;
      text-shadow: -6px 4px 0.5vw $colo2Shadow;
      margin-left: -200%;
      animation: game-over-title 2.5s forwards;

      &-hover {
         color: $neonColor3;
         text-shadow: 0 0 3vw $color3Shadow;
      }
   }

   &__score {
      margin-right: -200%;
      margin-top: -100%;
      animation: score 2.5s forwards;

      p {
         font-size: 55px;
         color: $neonColor3;
         text-shadow: -3px 2px 0.4vw $color3Shadow;
      }
   }
   .score__result-hover {
      color: $neonColor2;
      text-shadow: 0 0 3vw $colo2Shadow;
   }

   &__res {
      margin: 1em;
      padding: 0.15em 1.3em;
      font-size: 40px;
      text-decoration: none;
      text-shadow: -2.5px 1px 0.2vw $colo2Shadow;
      color: $neonColor2;
      cursor: pointer;
      border-radius: 10px;
      border: 5px solid;
      background-color: transparent;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3), 2px 4px 3px rgba(3, 0, 128, 0.3),
         0 0 7px 2px rgba(0, 208, 255, 0.6), inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
         inset 2px 4px 3px rgba(3, 0, 128, 0.3), inset 0 0 7px 2px rgba(0, 208, 255, 0.6);
      animation: restart 2.5s forwards;
      margin-left: -200%;

      &:hover {
         box-shadow: 0px 0px 20px 1px $neonColor3;
         text-shadow: -2px 4px 2vw $color3Shadow;
         border-color: $neonColor3;
         color: $neonColor3;
      }
   }

   &.show {
      display: flex;
      z-index: 1;
   }
}

@keyframes game-over-title {
   100% {
      margin-left: 0%;
   }
}

@keyframes restart {
   100% {
      margin: 1em;
   }
}

@keyframes score {
   100% {
      margin: 50px 0px;
   }
}
